<html>
<body background="../../../media/2dyVEsu.jpg">
    <head>
        <title>Registration Complete</title>
    </head>
    <body>
        <center style="color:Gold">Almost done .... </center>
        <center style="color:Gold"><br>We've sent an email to your inbox. Please open it up to activate your account</center>
        <center style="color:Gold"><br>Redirecting ... </center>
        <meta http-equiv="refresh" content="5;url=http://localhost:8000" />
        <P align=right>        
        <a href="{% url "photo.views.homepage" %}" style="color:Gold" >Photospread Home</a>
        </P>
        </div>
    </body>
</html>

